<a href="https://colab.research.google.com/github/mahnoorfatimafaizi/AI-101-Online-Python-Fundamentals-for-AI/blob/main/Class02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
name = 'Mahnoor'
number = 4

print(type(name))
print(type(number))

<class 'str'>
<class 'int'>

In [6]:
print(f"My name is {name}")
print(f"My lucky number is {number}")

My name is Mahnoor
My lucky number is 4

In [9]:
print(f"My name is", name, f"My lucky number is", number)

My name is Mahnoor My lucky number is 4

In [10]:
paragraph = f"""
My name is {name}
My lucky number is {number}
"""
print(paragraph)

My name is Mahnoor
My lucky number is 4

## Write an email using concatination

In [14]:
customer = "Asad"
company = "Ali"

In [16]:
message = f"""
Hi {customer},
You got a free coupon code : 124NEWYEAR2025,

Best Regards,
{company}
"""
print(message)

Hi Asad,
You got a free coupon code : 124NEWYEAR2025,

Best Regards,
Ali

## Arithmetic Operators

In [17]:
#Addition
item1 = 50
item2 = 100
item3 = 150
total = item1 + item2 + item3
print(total)

300

In [19]:
#Subtraction
number1 = 500
number2 = 100
total = number1 - number2
print(total)

400

In [20]:
#Multiplication
number1 = 45
number2 = 5
total = number1 * number2
print(total)

225

In [21]:
#Division
number1 = 45
number2 = 5
total = number1 / number2
print(total)

9.0

In [22]:
#Modulus
number1 = 48
number2 = 5
total = number1 % number2
print(total)

3

In [24]:
#Exponent
number1 = 7
number2 = 2
total = number1 ** number2
print(total)

49

# **Assignment**

Mr.Khan is hosting a rabri(desert) party at his institute. He needs your help to calculate the total number of people attending the event and the amount of rabri (in grams and in kg) he needs to prepare.

Here's what to know:

*   There are 12 Faculty members.
*   There are 4 adminstrative staff members.
*   There are 100 students in the institute.
*   The number of absentees are 15
*   Per person rabri is 250g

In [30]:
faculty = 12
admin = 4
students = 100
absentees = 15
rabri_per_person_in_grams = 250

In [34]:
# Number of People Attending the Event
total_people = faculty + admin + students - absentees
print(f"The total number of people will be present: {total_people}")

The total number of people will be present: 101

In [35]:
# Total Rabri in Grams
total_rabri_in_grams = total_people * rabri_per_person_in_grams
print(f"The total amount of rabri in grams: {total_rabri_in_grams}")

The total amount of rabri in grams: 25250

In [36]:
# Rabri in Kg
total_rabri_in_kg = total_rabri_in_grams / 1000
print(f"The total amount of rabri in kg: {total_rabri_in_kg}")

The total amount of rabri in kg: 25.25